html {
  direction: rtl;
}

.home__images img {

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: -7rem;
  left: initial;
}

.home__title {
  padding-left: initial;
  padding-right: 15px;
  /* width: 200px; */
}

/* .home__image-4{
    content: url(../img/r-img-4.svg) !important;
}
.home__image-3{
    content: url(../img/r-img-3.svg) !important;
}
.home__image-2{
    content: url(../img/r-img-2.svg) !important;
} */
.about-image {

  margin-left: 40px;
  margin-right: 0px;
}

.about-img2-rtl {
  margin-right: 40px;
  margin-left: 0px;
}

.pagestyle .readmore a:hover i {

  margin-right: 5px;

  margin-left: initial;



}

footer .container .contents .subscribe .input i {
  left: 7%;
  right: initial;
}

footer .container .links a {

  padding-left: 4px;
  padding-right: 2px;

}

footer .container .links i {
  padding-right: initial;
}

footer .container .links a:hover {
padding-left: 0px;  
padding-right: 6px;   



}


.home__bird-1 {

  rotate: 30deg;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 36px;
  left: initial;

}

.home__bird-2 {
  left: initial;
  right: 20rem;
  rotate: 15deg;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.header {
  right: 0;
  left: initial;

}

/* .home__data {
        padding-right: 3rem;
    } */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

/* #indecator2 {

  right: initial;
  left: 10px;

} */


@media screen and (max-width: 768px){
  .about-img2-rtl {
    margin-right: initial;
}

.about-image {

  margin-left: initial;
}
}

@media screen and (max-width: 1023px) {
  .nav__menu {

    right: 0;
    left: initial;

  }
}

@media screen and (max-width : 376px) and (min-height: 800px) {
  .home__images img {
    left: initial;
    right: -12rem;
  }
}

@media screen and (min-width : 480px) {

  .home__images img {
    left: 0;
    right: initial;
  }


}

@media screen and (min-width: 1023px) {
  .home__data {
    padding-right: 3rem;
    padding-left: initial;
  }

  .home__bird-2 {
    right: 21rem;
    left: initial;
  }

  .nav__menu {
    right: 150px;
    left: initial;
  }

  /* .home__bird-2{
          left: 30rem;
        }
    
        .home__bird-1{
          left: 80px;
        } */
}

@media screen and (max-width: 510px) {
  .home__bird-2 {
    right: 16rem;
    
}

}

/* @media screen and (max-width: 340px) {

  .home__bird-2 {
    display: none;
  }

  .home__bird-1 {
    display: none;
  }

} */

