/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;700&family=Poppins:wght@700&display=swap");

/*=============== DIRECTION ===============*/
html{
  direction: ltr;
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(195, 100%, 30%);
  --gradient-color: linear-gradient(90deg,
                    hsl(210, 55%, 20%),
                    hsl(192, 62%, 25%));
  --title-color: hsl(210, 52%, 20%);
  --text-color: hsl(210, 24%, 15%);
  --white-color: #fff;
  --body-color: hsl(210, 55%, 85%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/

  /* --body-font: "Poppins", sans-serif;
  --second-font: "Lora", serif; */

  --body-font: "Cairo", sans-serif;
  --second-font:  "Cairo", sans-serif;
  --biggest-font-size: 2.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: capitalize;
}

body {
  
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--body-color);
  color: var(--text-color);
  
}
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(220 , 24% , 15%);
}
::-webkit-scrollbar-thumb{
  background-color: hsl(220 , 24% , 25%);

}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav__logo img {
  display: block;
  max-width: 70px;
  width: 40px;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden; /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  padding-top: 0px;
}

.nav__close,
.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 1px 16px hsla(210 , 55% , 24% ,  .1);
    padding-block: 3.5rem  2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    transition: top 0.4s;
  }
  
}

.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link{
  color: var(--title-color);
  transition: color .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__buttons{
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  align-items: center;
}

/* .nav__button-ghost{
  display: inline-block;
  color: var(--title-color);
  background-color: hsla( 0 , 0% , 100% ,.3 );
  padding: 0.7rem  2rem;
  border: 2px solid var(--title-color);
  border-radius: 0.75rem;
  white-space: nowrap;
} */



.nav__buttons p{
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Change background header */
.bg-header{
  box-shadow: 0 1px 16px hsla(210 , 55% , 24% , .12);
}


.nav__list ul{
  position: absolute;
  top: 50px;
  opacity: 0;
  visibility: hidden;
}


.nav__list li:hover > ul{
  top: 30px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}

.nav__list ul li:hover > ul{
  top: 0px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}

.nav__list ul{
  background-color: coral;
  border-radius: 7px;
  min-width: 150px;
}

.nav__list ul ul{
  position: absolute;
  background-color: blue;
  width: 100%;
  top: 0;
  left: 0;
}

.nav__list ul li{
  padding: 10px;
  display: list-item;
  position: relative;
  /* border: 1px solid #042331; */

  /* border: 1px solid #042331;
  border-top: none;
  border-left: none;
  border-right: none; */
  
}

/*/////////////////////////////////////////////////////////////////*/
a {
  text-decoration: none;
  color: white;
}

.nav__list ul li a{
  line-height: 50px;
}

.nav__list ul ul{
  border-top: none;
  left: 100%;
  top: -30px;
}

.nav__list ul ul li{
  position: relative;
  /* top: -70px; */
  
}
/* .nav__list ul li a i{
  margin-left: 45px;
} */

/* .nav__list ul li a i{
  margin-left: 45px;
} */


/*=============== HOME ===============*/
.home{
  position: relative;

}

.home__container{
  position: relative;
  padding-top: 8rem;
  height: 100vh;
}

.home__content{
  position: relative;
  z-index: 2;
}

.home__data{
  display: grid;
  row-gap: 0.5rem;
  width: fit-content;
  text-align: center;
}

.home__subtitle{
  font-size: 1.2rem;
  color: var(--first-color);
  /* letter-spacing: 3px; */
  font-weight: bold;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  color: var(--title-color);
  width: 200px;
}


.home__bird-1,
.home__bird-2{
  position: absolute;
  width: 60px;
}

.home__bird-1{
  bottom: -6rem;
  rotate: -30deg;
}

.home__bird-2{
  top: -2.5rem;
  rotate: -15deg;
  left: 13rem;
}

.home__images{
  z-index: 1;
}

.home__images img{
  position: absolute;
  max-width: initial;
  width: 600px;
  left: -7rem;
  bottom: 0;
  z-index: -1;
}


.lang-container{
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
}

.lang-container i{
  margin: auto;
}

.lang-container{
  position: absolute;
  top: 5px;
  left: 5px;
  }

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-inline: 1rem;
  }
  .home__title{
    font-size: 2rem;
  }
  .home__bird-2 {
    left: 14rem ;
}

  
}

/* For taller devices */
@media screen and (max-width : 376px) and (min-height: 800px) {
  .home__container{
    padding-top: 20rem;
  }
  .home__images img{
    width: 700px;
    left: -12rem;
  }
}

/* For medium devices */
@media screen and (min-width : 480px) {
  .home__content{
    max-width: 305px;
  }

  .home__images img{
    width: initial;
    left: 0;
  }

  /* .nav__logo{
    padding-top: 30px;
    } */
}

/* @media screen and (min-height : 800px) {
  .home__container{
    height: 50vh;
  }
  
} */

/* For large devices */
@media screen and (min-width: 1023px) {

  .nav__logo img{
    width: 70px;
  }

  .nav{
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }

  .nav__menu{
    position: fixed;
    left: 150px;
    width: calc(100% - 150px);
    top: 1.5rem;
    display: inline-flex;
    align-items: start;
    justify-content: space-between;
  }
/*
  .dropdown__list{
    position: absolute;
    display: none;
    background-color: aqua;
    padding: 5px;
    border-radius: 7px;
    z-index: 99;
  }

.dropdown__item a{
  transition: padding .2s linear;
  width: 120%;
  text-align: start;
  display: block;
}

.dropdown__item:hover a{
  padding-left: 10px;
}
*/

/*
  .nav__item:hover .dropdown__list{
    display: block;
  }

  .dropdown__list  ul{
    display: none;
  }

  .nav__item:hover > ul{
    display: block;
  }

  .dropdown__list .dropdown__item{
    padding: 15px;
  } */

  .nav__list{
    flex-direction: row;
    column-gap: 5rem;
    width: 100%;
  }
  .nav__buttons{
    flex-direction: row;
    column-gap: 2rem;
  }

  .lang-container{
    position: static;
    top: initial;
    left: initial;
    }
  /* .lang-container{
    flex-direction: row;
  } */



  /* .nav__logo{
    width: 48px;
  } */
  /* .nav__button-ghost{
    width: 176px;
  } */

  .home__content{
    max-width: 550px;
  }

  .home__data{
    row-gap: 1rem;
    padding-left: 3rem;
  }

.home__title{
  width: 320px;
}

  .home__subtitle{
    font-size: 1.3rem;
    font-weight: bold;
  }



  /* .home__description{
    margin-bottom: 3rem;
  } */

  .container{
    max-width: initial;
  }

  .home__container{
    height: 750px;
    padding-top: 10rem;
  }

  .home__bird-2{
    left: 25rem;
  }

}

@media screen and (min-width: 1100px) {

  .home__container{
    padding-top: 10rem;
    height: 750px;
  }
}

 @media screen and (min-width: 1160px) {

  .home__container{
    padding-top: 10rem;
    height: 850px;
  }

}

@media screen and (min-width: 1380px) {

  .home__container{
    padding-top: 10rem;
    height: 950px;
  }

}
@media screen and (min-width: 1560px) {

  .home__container{
    padding-top: 10rem;
    height: 1050px;
  }


  .home__subtitle{
    font-size: 25px;
  }

  .nav{
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .home__bird-2{
    right: -20rem;
  }


}

@media screen and (min-width: 1740px) {

  .home__container{
    padding-top: 10rem;
    height: 1150px;
  }

}
@media screen and (min-width: 1930px) {

  .home__container{
    padding-top: 10rem;
    height: 1250px;
  }

}

@media screen and (min-width: 2100px) {

  .home__container{
    padding-top: 10rem;
    height: 1350px;
  }

}




/*=============== GALLARY ===============*/

.sections {
  /* background-color: #060922; */
  background-color: var(--body-color);


}

.sections .container {
  padding: 6%;
  color: white;
  font-weight: 600;
}

/* .sections .container .intro {
  display: flex;
  justify-content: space-between;

} */

/* .sections .container .intro .introtext p {
  font-size: 15px;
  max-width: 500px;
  line-height: 1.4;
  filter: brightness(67%);
} */

/* .sections .container .intro .introtext h1 {
  letter-spacing: 1px;
  font-size: 250%;
  font-weight: 700;

} */



.sections .container .intro .servicebutton {
  color: white;
  background: #09aff4;
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
  padding: 0px 24px;
  height: 50px;
  border-radius: 0.25rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 2px solid #09aff4;
  margin-top: 30px;
  align-items: center;

}

.sections .container .intro .servicebutton p {
  margin: 0;

}

.sections .container .intro .servicebutton i {
  margin-left: 2px;

}

.sections .container .intro .servicebutton span {

  max-height: 30px;
}

.sections .container .intro .servicebutton:hover {
  background-color: transparent;
  color: #09aff4;
  cursor: pointer;
  transition: 0.7s;

}

.sections .container .intro .servicebutton:hover i {
  color: #09aff4;

}

.sections .container .intro .servicebutton:hover i {

  transition: 0.7s;
  transform: translateX(4px);


}

.sections .container .sectionpage {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  gap: 20px;
  font-size: 100%;
}

.sections .container .sectionpage p {
  line-height: 1.6;
}

.sections .container .sectionpage h2 {

  margin-top: 30px;
}


.sections .container .sectionpage .sectionstyle {
  border: 1px solid #09aff4;
  padding: 40px;
  border-radius: 1.25rem;
  position: relative;
  background: linear-gradient(to left, #09aff4 50%, transparent 50%) right;
  background-size: 200% 100%;
background-position: left bottom;
transition:  0.7s;

}

.sections .container .sectionpage .sectionstyle i {
  color: #09aff4;


}

.sections .container .sectionpage .sectionstyle a {

  color: #09aff4;
}

.sections .container .sectionpage .sectionstyle p {
  filter: brightness(80%);
}

.sections .container .sectionpage .sectionstyle .readmore {
  margin-top: 30px;

}

.sections .container .sectionpage .sectionstyle:hover {
  color: white;
  background-position: right bottom;
  }

.sections .container .sectionpage .sectionstyle:hover a {
  color: white;
  transition: 1s;
}

.sections .container .sectionpage .sectionstyle:hover i {
  color: white;
  transition: 1s;
}

.sections .container .sectionpage .sectionstyle .readmore i:hover {
  margin-left: 6px;
  transition: 0.7s;
}

.sections .container .sectiongallary {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.sections .container .sectiongallary img {
  width: 99%;
  height: 250px;
  filter: brightness(65%);
  transition: 0.7s;
background-position: center center;
border-radius: 0.5rem;
border: 1px solid #09aff4;

}

.sections .container .sectiongallary div {
  overflow: hidden;
}

.greyline {
  /* background-color: #726969; */
  background-color: #e3f2fd;
  position: absolute;
  width: 100%;
  height: 6px;
  z-index: 1;
}

.sections .container .sectiongallary img:hover {
  transform: scale(1.2);
  filter: brightness(120%);

}



/* ============= NEWS SECTION =============== */

.news .container {
  /* background-color: #060922; */
  /* background-color: #e3f2fd; */
  background-color: var(--body-color);
  justify-content: center;
  padding: 6%;
  align-items: center;
  margin: auto;

}

.news .container .newspage {

  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.news .container .newspage img {
  width: 100%;
background-position: center center;
transition: 0.5s;

}

.news .container .newspage img:hover {
  transform: scale(1.1);
  transition: 0.5s;
filter: brightness(110%);
}

.news .container .newspage .textstyle {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 70%;
}

.news .container .newspage .textstyle i {
  color: #09aff4;
}

.news .container .newspage .textstyle p {

  line-height: 1.5;


}

.news .container .newspage .pagestyle {

  border-radius: 0.25rem;
  background-color: #0a4949;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px #09aff4;
  font-size: 22px;
}


.news .container .newspage .pagestyle .readmore {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 105%;
}

.news .container .newspage .pagestyle .readmore i:hover {

  transition: 0.5s;
  margin-left: 5px;


}

.news .container .newspage .pagestyle .readmore a {
  text-decoration: none;
  color: #09aff4;
  font-weight: 600;
}

.news .container .newspage .pagestyle .h4 {
  padding-left: 10px;
  padding-right: 6px;
}

.news .container .newspage .textstyle p {
  filter: brightness(80%);

}

.news .container .newspage .pagestyle .h3 {
  margin-right: -2px;


}

.news .container .newspage .pagestyle .h3 a:hover {

  color: #09aff4;
  transition: 0.7s;
padding: 4px;
}

.hover {
  color: white;

}

.hover :hover {
  color: #09aff4;
  transition: 0.7s;
}

.news .container .dateholder {
  position: relative;

}

.news .container .date {
  padding: 0.5rem 1.5rem;
  text-align: center;
  margin-top: 3%;
  margin-left: 3%;
  color: white;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  background: rgba(6, 9, 34, 0.7);
  border-radius: 5rem;
  left: 0;
}

/* ============= ABOUT SECTION =============== */

.about
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image
{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img
{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img
{
    transform: scale(1.1);
}

.about-content h3
{
    margin-bottom: 15px;
    color: #333;
}

.about-content p
{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more
{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #23239b;
    font-size: 19px;
    text-decoration: none;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover
{
    background-color: #01081f;
}

.about-content
{
    flex: 1;
}

.heading
{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h2
{
    /* font-size: 40px; */
    color: #000;
    /* margin-bottom: 25px; */
    /* position: relative; */
}

.container-a
{
    padding: 10px 20px;
}

/* =============== COUNTER =============== */

.title
{
    text-align: center;
    margin: 1em;
}

.counters
{
    padding: 3em 2em;
    background-color: #4193ff;
    color: #fff;
    text-align: center;
}

.counters > div
{
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em 2em;
}

.counter
{
    position: relative;
}

.counter h1
{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.counter:not(:last-child)::before
{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 2px;
    height: 3em;
    top: 50%;
    transform: translateY(-50%);
    right: -1em;
}


/* =============== TESTIMONIAL =============== */

#testimonial
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e3f2fd; */
    background-color: var(--body-color);

}

.testimonial
{
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .slide
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.slide p
{
    text-align: center;
    padding: 0 100px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.slide .degree{
  font-size: 50px; font-weight: bold; color: blue;
}

.slide .quote-icons
{
    font-size: 30px;
    color: #4070f4;
}

.slide .details
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name
{
    font-size: var(--font-medium);
    font-weight: 600;
    color: #333;
}

.testimonial .image
{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.carousel-item img
{
    width: 200px;
    height: 200px;
}

/* =============== FOOTER =============== */

footer {

  background-size: cover;
  position: relative;
  /* background-image: url(../images/footer-bg-1.jpg); */
  background-color: #060922;

  color: white;

  margin: initial;
}

footer a {
  font-weight: 600;
}

footer::before {
  content: "";
  width: 100%;
  background: rgba(17, 17, 17, 0.7);
  position: absolute;
  z-index: 0;
  height: 100%;
}

footer .container {
  margin: auto;
  filter: brightness(150%);
  padding: 6%;
  font-size: 18px;
}

footer .container .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .contents iframe {
  width: 300px;
  height: 270px;
  border-radius: 1.25rem;
  filter: brightness(90%);
  border: 1px solid transparent;
  margin-top: 20px;
}


footer .container .links {
  width: 300px;
  align-items: center;
  justify-content: center;
  line-height: 2.6;

}


footer .container .links i {
  color: #09aff4;
  padding-right: 3px;
}

footer .container .links a:hover {
  transition: 0.7s;
  margin-left: 5px;

  color: rgba(255, 255, 255, 0.726);


}

footer .container .contents .icons i {
  color: #09aff4;
  margin-top: 30px;
  padding: 4px;

}

footer .container .contents .flex {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

footer .container .contents .icons i:hover {

  transition: 0.7s;
  transform: translateY(-10px);
  color: white;
}

footer .blackline {
  background: rgba(17, 17, 17, 0.842);
  width: 100%;
  height: fit-content;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
}

footer .blackline .visitors {

  display: inline-flex;

}

footer .blackline div {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}


@media only screen and (max-width:1025px) {
  footer .container .contents .flex {
      flex-direction: column;
      align-items: center;
      row-gap: 50px;
  }

  footer .container .contents iframe {
      margin-top: -280px ;
      /* margin-top: 0px ; */
      margin-left: -40px;
  }
}

@media only screen and (max-width:815px) {
  .sections .container .intro {

      flex-direction: column;
  }

  .sections .container .intro .servicebutton {
      max-width: fit-content;
      margin-bottom: 30px;
  }
}

@media only screen and (max-width:626px) {
  footer .container .contents iframe {
      max-width: 250px;
      max-height: 200px;
      margin-bottom: 50px;
      margin-left: -20px;

  }

  footer .container {
      font-size: 100%;
  }

  footer .blackline {
      font-size: 12px;
  }
}


@media only screen and (max-width:450px) {
  .sections .container .sectiongallary {

      display: flex !important;
      flex-direction: column;


  }
}

@media only screen and (max-width:400px) {

  .sections .container .sectionpage {

      display: flex !important;
      flex-direction: column;
      margin: auto;
  }
}

@media only screen and (max-width:550px) {

  footer .blackline {
      text-align: center;
      flex-direction: column;
      align-items: center;
  }

  .news .container .newspage {
      flex-direction: column;
  }

  footer .container .contents iframe {
      margin-left: 0px;
  }

  footer .container .contents {
      position: relative;
      flex-direction: column;

  }

  footer .container .contents iframe {
      position: absolute;
      margin-top: -430px;


  }

  footer .container .contents .flex {
      gap: 220px;
      width: 100%;
  }

  footer .container .contents .links {
      text-align: center;
      max-width: 270px;
  }

  footer .container .contents .icons {
      justify-content: center;
      display: flex;
  }

  footer .container .contents .map {

      position: relative;
      display: flex;
      justify-content: center;
  }

}

 /* ================ ELWAN MEDIA ================= */

 @media screen and (max-width: 900px) and (min-width: 510px)
{
    .counters > div
    {
        grid-template-columns: 1fr 1fr;
    }

    .counter:nth-child(2)::before
    {
        display: none;
    }
}

@media screen and (max-width: 500px)
{
    .counters > div
    {
        grid-template-columns: 1fr;
        row-gap: 5em;
    }

    .counter:not(:last-child)::before
    {
        width: 90%;
        height: 2px;
        top: initial;
        right: initial;
        bottom: -3em;
        left: 50%;
        transform: translateX(-50%);
    }
}




@media screen and (max-width: 768px)
{
    .heading
    {
        padding: 0px 20px;
    }

    .change
    {
        flex-direction: column-reverse !important;
    }

    .heading h2
    {
        font-size: 36px;
    }

    .heading p
    {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container
    {
        padding: 0px;
    }


    .about
    {
        padding: 20px;
        flex-direction: column;
    }

    .about-image
    {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-content p
    {
        padding: 0;
        font-size: 16px;
    }

    .about-content .read-more
    {
        font-size: 16px;
    }
}